body {
    background-color: rgb(61, 185, 210);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container button {
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
}

.container #add {
    background-color: lightgreen;
}

form  {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    padding: 20px;
}

form label {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 5px;
}

form .check {
    display: flex;
    justify-content: center;
}

form #sub {
    background-color: lightgreen;
}

form #close {
    background-color: lightcoral;
}

.form-div {
     display: none; 
     margin-bottom: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid whitesmoke;
    background-color: rgb(228, 212, 182);
    border-radius: 5px;
    padding: 8px;
}

.cards .card .status #toggle {
    background-color: lightgreen;
    padding: 3px;
}

.cards .card .status .goodbye {
    background-color: lightcoral;
    padding: 3px;
}